/* ---------- GLOBAL FONT ---------- */
@font-face {
    font-family: "Sf pro display";
    src: url(../fonts/sf-pro-display_regular.woff2);
}

body {
    font-family: "Sf Pro display", sans-serif;
    font-weight: 400;
}


/* ---------- GLOBAL CONTAINER ---------- */
.container {
    max-width: 980px;
    margin: 0 auto;
}


/* ---------- GLOBAL LINKS ---------- */
a {
    color: inherit;
    text-decoration: none;
}


/* ---------- GLOBAL UL RESET ---------- */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ---------------- HEADER FIX ---------------- */

.header {
    background-color: #161617;
    padding: 12px 0 16px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #D0D0D1;
}

.menu {
    margin-left: auto;
    margin-right: 35px;
}

.menu__list {
    display: flex;
    gap: 35px;
    align-items: center;
    position: static;    
    transform: none;      
    background-color: transparent;
    flex-direction: row;
}

.menu__item a,
.menu_link {
    color: #D0D0D1;
    text-decoration: none;
    transition: opacity .2s ease;
}

.menu_link:hover {
    opacity: .7;
}

.header__items {
    display: flex;
    gap: 35px;
}

.header__item img {
    width: 18px;
    height: auto;
}



/* ---------- MOBILE MENU BUTTON ---------- */
.btn__menu {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn__menu::before,
.btn__menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #D0D0D1;
}

.btn__menu::before {
    top: 0;
}

.btn__menu::after {
    bottom: 0;
}

.btn__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D0D0D1;
}

.logo,
.header__item,
.btn__menu {
    position: relative;
    z-index: 10;
}

/* MOBILE MENU OPEN */
@media (max-width: 980px) {
    .menu__list {
        position: absolute;
        inset: 0;
        background-color: #161617;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .menu__list.active {
        transform: translateY(0);
    }

    .btn__menu {
        display: flex;
    }
}

/* ---------- GLOBAL BUTTONS ---------- */
.btns-box {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn {
    font-size: 17px;
    line-height: 20px;
    padding: 12px 22px;
    border-radius: 22px;
    display: inline-block;
}

.btn-primary {
    color: #ffffff;
    background-color: #0071E3;
}

.btn-secondary {
    color: #2997FF;
    border: 1px solid #0066cc;
}


/* ---------- FOOTER ---------- */
.footer {
    background-color: #161617;
    padding: 100px 0 80px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 255, 255, .56);
}

.footer__text {
    padding-bottom: 21px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.24);
}

.footer__text a {
    padding: 5px;
    color: #2997FF;
    text-decoration: underline;
}

.footer_bottom {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.footer_menu {
    display: flex;
    gap: 20px;
}

.footer_menu li:not(:last-child)::after {
    content: " | ";
    color: rgb(255, 255, 255, .8);
}

.footer__region {
    color: rgb(255, 255, 255, .8);
    margin-left: 0;
}


/* ---------- RESPONSIVE FOOTER ---------- */
@media (max-width: 460px) {
    .footer_menu {
        flex-direction: column;
        align-items: start;
    }
    .footer__item::before {
        display: none;
    }
    .footer__region {
        margin-top: 30px;
    }
}
