/* ---------------------- FONT SETUP ---------------------- */

/* SF Pro Display Regular */
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* SF Pro Display SemiBold */
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf-pro-display_semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "SF Pro Display", sans-serif;
}

/* ---------------------- HERO SECTION ---------------------- */

.macbook_pro {
    min-height: 750px;
    background-image: image-set(
        "../images/macbook_pro.avif" type("image/avif"),
        "../images/macbook_pro.webp" type("image/webp"),
        "../images/macbook_pro.jpg"
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 120px;
    text-align: center;
}

.macbook_pro .section-main__title {
    font-size: 48px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.macbook_pro .section-main__subtext {
    font-size: 24px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}

.macbook_pro .section-main__text {
    font-size: 20px;
    font-weight: 400;
    color: #444;
    margin-bottom: 20px;
}





