.section-main {
    text-align: center;
    min-height: 692px;
    padding-top: 55px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #1D1D1F;
}

.iphone-pro {
    background-image: image-set(
        "../images/hero_iphone_17_pro.avif" type("image/avif"),
        "../images/hero_iphone_17_pro.webp" type("image/webp"),
        "../images/hero_iphone_17_pro.jpg"
    );
    color: #f5f5f7;
}

.iphone-air {
    background-image: image-set(
        "../images/hero_iphone_air.avif" type("image/avif"),
        "../images/hero_iphone_air.webp" type("image/webp"),
        "../images/hero_iphone_air.jpg"
    );
}

.iphone {
    background-image: image-set(
        "../images/hero_iphone_17.avif" type("image/avif"),
        "../images/hero_iphone_17.webp" type("image/webp"),
        "../images/hero_iphone_17.jpg"
    );
}

.section-main__title {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 6px;
    font-weight: 400;
}

.section-main__subtext {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.section-main__text {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 15px;
    color: #86868B;
}

.collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.collections-section {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 580px;
    padding-top: 55px;
}

.airpods {
    background-image: image-set(
        "../images/airpodspro_3.avif" type("image/avif"),
        "../images/airpodspro_3.webp" type("image/webp"),
        "../images/airpodspro_3.jpg"
    );
}

.watch {
    background-image: image-set(
        "../images/promo_apple_watch_11.avif" type("image/avif"),
        "../images/promo_apple_watch_11.webp" type("image/webp"),
        "../images/promo_apple_watch_11.jpg"
    );
}

.watch-se {
    background-image: image-set(
        "../images/promo_apple_watch_se.avif" type("image/avif"),
        "../images/promo_apple_watch_se.webp" type("image/webp"),
        "../images/promo_apple_watch_se.jpg"
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 55px;
}

.watch-ultra {
    background-image: image-set(
        "../images/promo_apple_watch_ultra3.avif" type("image/avif"),
        "../images/promo_apple_watch_ultra3.webp" type("image/webp"),
        "../images/promo_apple_watch_ultra3.jpg"
    );
    color: #f5f5f7;
}

.condition {
    background-image: image-set(
        "../images/promo_carrier.avif" type("image/avif"),
        "../images/promo_carrier.webp" type("image/webp"),
        "../images/promo_carrier.jpg"
    );
}

.trade-in {
    background-image: image-set(
        "../images/promo_iphone_tradein.avif" type("image/avif"),
        "../images/promo_iphone_tradein.webp" type("image/webp"),
        "../images/promo_iphone_tradein.jpg"
    );
}


.collections-section__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 4px;
    font-weight: 400;
    max-width: 380px;
    margin: 0 auto;
}

.collections-section__subtext {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 9px;
    max-width: 415px;
    margin: 0 auto 9px;
}

.collections-section__text {
    font-size: 14px;
    line-height: 18px;
    color: #6e6e73;
    margin-bottom: 14px;
}


.collections .btns-box {
    gap: 14px;
}

.collections .btn {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 16px;
}


@media (max-width: 980px) {
    .iphone-pro {
        background-image: url(../images/iphone_17_pro_small.jpg);
    }
}

@media (max-width: 980px) {
    .collections {
        grid-template-columns: 1fr;
    }
}
